<script>
    createCustomElement('shaker-sidenav-link','a','shaker-navlink');
</script>
<template id="shaker-sidenav-link">
    <style>
        .shaker-navlink {
            display: block;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            padding: 16px 40px;
            margin: 0;
            color: #757575; }

        @media screen and (max-width: 1024px) {
            .shaker-navlink {
                padding: 16px 16px; } }
        .shaker-navlink:hover {
            background-color: rgb(224,224,224); }
    </style>
</template>