<script>
    customElement('x-header-nav','nav');
</script>
<template id="x-header-nav">
    <nav class="x-header-nav">
        <content select="x-header-link"></content>
    </nav>
    <style>
        .x-header-nav {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            height: 64px;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -ms-flex-align: center;
            -ms-grid-row-align: center;
            align-items: center; }

        @media screen and (max-width: 1024px) {
            .x-header-nav {
                height: 56px; } }
    </style>
</template>