<script>
    customElement('x-sidenav','.x-fixed-drawer');
</script>

<template id="x-sidenav">

    <div class="x-fixed-drawer">
        <div class="x-drawer">
            <content select="x-sidenav-title"></content>
            <nav class="x-navigation">
                <content select="x-sidenav-link"></content>
            </nav>
        </div>
    </div>
    <style>
        @media screen and (min-width: 1025px) {
            .x-fixed-drawer > .x-drawer {
                -webkit-transform: translateX(0);
                transform: translateX(0); } }

        @media screen and (min-width: 1025px) {
            .x-fixed-drawer > .mdl-layout__drawer-button {
                display: none; }
            .mdl-layout--no-desktop-drawer-button .mdl-layout__drawer-button {
                display: none; } }

        .x-fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
            margin-left: 240px;
            width: calc(100% - 240px); }

        @media screen and (min-width: 1025px) {
            .x-fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
                padding-left: 40px; } }

        .x-fixed-drawer > .mdl-layout__content {
            margin-left: 240px; }

        @media screen and (max-width: 1024px) {
            .x-fixed-drawer > .mdl-layout__content {
                margin-left: 0; }
            .mdl-layout__container.has-scrolling-header .mdl-layout__content {
                overflow-y: auto;
                overflow-x: hidden; } }

        .x-drawer {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            width: 240px;
            height: 100%;
            max-height: 100%;
            position: absolute;
            top: inherit;
            left: 0;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            border-right: 1px solid rgb(224,224,224);
            background: rgb(250,250,250);
            -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            will-change: transform;
            transition-duration: 0.2s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            color: rgb(66,66,66);
            overflow: visible;
            overflow-y: auto;
            z-index: 5; }

        .x-drawer.is-visible {
            -webkit-transform: translateX(0);
            transform: translateX(0); }
        .x-drawer.is-visible ~ .mdl-layout__content.mdl-layout__content {
            overflow: hidden; }
        .x-drawer > * {
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0; }

        .x-drawer .x-navigation {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            -ms-grid-row-align: stretch;
            align-items: stretch;
            padding-top: 16px; }

        .x-navigation {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            box-sizing: border-box; }
    </style>
</template>

