<script>
    createCustomElement('x-sidenav-title','span','x-title');
</script>
<template id="x-sidenav-title">
    <style>
        .x-title {
            line-height: 64px;
            padding-left: 40px;  }

        @media screen and (max-width: 1024px) {
            .x-title {
                line-height: 56px;
                padding-left: 16px; } }

        @media screen and (max-width: 1024px) {
            .x-title {
                line-height: 56px;
                padding-left: 16px; } }
    </style>
</template>