<script>
    createCustomElement('x-title', 'span');
</script>
<template id="x-title">
    <span class="x-title"><content></content></span>
    <style>
        .x-title {
            display: block;
            position: relative;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.02em;
            font-weight: 400;
            box-sizing: border-box; }
    </style>
</template>